/* stylesheet for Colmar */

/* 	light color  								rgb(242, 251, 255);
		background/mid color 				rgb(178, 255, 241);
		dark color           				rgb(194, 201, 204);
		border for anchors					rgb(207, 223, 255);
		main font color/background  rgb(72, 74, 84);
		Read More - light blue			rgb(72, 161, 255);
		
*/


* {
	margin: 0;
	padding: 0;
	/*border: 1px blue solid;*/
}
html {
	font-size: 16px;
}
body {
	background-color: rgb(235, 233, 239);
	color: rgb(72, 74, 84);
}
.readMore {
	color: rgb(72, 161, 255);
}
.bigBox {
	max-width: 74rem;
	margin: 5rem auto;
}
#outBorder {
	border: 2px solid rgb(194, 201, 204);
}
/* header section */

header {
	background-color: rgb(242, 251, 255);
	display: flex;
	justify-content: space-between;
	height: 4rem;
}
#logo img {
	display: inline;
	height: 3.5rem;
	padding-left: 1.5rem;
	padding-top: .25rem;
	float: left;
}
#logo h1 {
	font-size: 1.5rem;
}
#front {
	color: rgb(72, 74, 84);
}
#back {
	color: rgb(194, 201, 204);
}
#front, #back {
	display: inline-block;
	padding-top: 1rem;
}

/* nav */

a {
	text-decoration: none;
	color: rgb(72, 74, 84);
	font-size: 1rem;
	padding: .0675rem;
}
li {
	list-style: none;
	display: inline-block;
	padding: 1.475rem 0 1.475rem 0;
}
.border {
	border-right: solid 1rem rgb(51, 153, 172);
}
ul {
	padding-right: 2rem;
}

/* start here */

#startHere {
	background-color: rgb(194, 201, 204);
	height: 37rem;
}
#startHere img {
	float: left;
	max-width: 60%;
	padding: 2rem 2.5rem 2rem 1.5rem;
}
#startHere h2 {
	padding-top: 9rem;
	font-size: 3rem;
	margin-bottom: 2rem;
}
#startHere p {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding-right: 2rem;
}
#here {
	font-size: 1.5rem;
	color: rgb(242, 251, 255);
	background-color: rgb(72, 74, 84);
	height: 2.5rem;
	min-width: 14rem;
	line-height: 2.5rem;
	display: inline-block;
	text-align: center;
}


/* keep practicing */

#keepPracticing {
	position: relative;
	width: 100%;
	height: auto;
}
.picBox1 {
	display: inline-block;
	border-right: solid 2px rgb(194, 201, 204);
	max-width: 65%;
}
.picBox1 img {
	max-width: 92%;
	padding: 2rem 1.5rem 2rem 1.5rem;
}
.picBox1 h2, p, #jobTitle {
	padding-left: 1.5rem;
}
.picBox1 h2 {
	font-size: 2rem;
	padding-bottom: 1.5rem;
}
.picBox1 p {
	font-size: 1rem;
	padding-bottom: 2rem;
	padding-right: 6rem;
}
.practiceRight {	
	max-width: 35%;
	position: absolute;
	top: 1rem;
	left: 65%;
}
#orientaion {
	float: left;
}
#orientation img {
	float: left;
	max-width: 35%;	
	padding: 1rem;
}
#orientation h3 {
	padding-top: 2rem;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}
#orientation p {
	line-height: 1.5rem;
}
#campus {
	width: 100%;
	float: left;
	clear: both;
}
#campus img {
	float: left;
	max-width: 35%;
	padding: 1rem;
}
#campus h3 {
	padding-top: 2rem;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}
#campus p {
	line-height: 1.5rem;
}
#guest {
	float: left;
	background-color: rgb(194, 201, 204);
}
#guest img {
	float: left;
	max-width: 35%;
	padding: 1rem;
}
#guest h3 {
	padding-top: 2rem;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}
#guest p {
	line-height: 1.5rem;
}

/* start learning */


#startLearning {
	clear: both;
	background-color: rgb(194, 201, 204);
}
#flexDiv {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 93%;
	margin: auto;
}
#startLearning h2 {
	font-size: 2rem;
	padding: 2rem 0 2rem 0;
	text-align: center;
}
#software, #computerArt, #design, #data, #business, #marketing {
	max-width: 25%;
	height: 20rem;
	margin: 0 1rem 2rem 1rem;
	background-color: rgb(242, 251, 255);
}
#computerArt {
	overflow: auto;
}
#software img, #computerArt img, #design img, #data img, #business img, #marketing img{
	max-width: 100%;
}
#startLearning h3 {
	font-size: 1.5rem;
	padding: 1rem 0 1rem 1.5rem;
}
#startLearning p {
	line-height: 1.5rem;
}

/* thesis exhibit */

#thesis {
	background-color: rgb(242, 251, 255);
	position: relative;
	height: auto;
}
#urban {
	float: left;
}
#urban h2 {
	font-size: 2rem;
	text-align: center;
	padding: 2rem 0 2rem 0;
}
#urban video {
	padding: 0 1rem 1.5rem 1.5rem;
	max-width: 60%;
}
#urban h3 {
	font-size: 1.5rem;
	padding: 1.5rem 0 1.5rem 1.5rem;
}
#urban p {
	padding: 0 0 2rem 1.5rem;
	max-width: 55%;
}
#thesisRight {
	position: absolute;
	display: inline;
	top: 6.43rem;
	min-width: 35%;
	left: 65%;
}
#fisma img, #nowThen img {
	width: 35%;
	float: left;
	padding: 1rem;
}
#fisma {
	background-color: rgb(194, 201, 204);
	border: solid red 1px;
}
#fisma h3 {
	font-size: 1.5rem;
	padding: 2.5rem 0 1rem 0;
}
#fisma p {
	padding: 0 3rem 3.25rem 0;
}
#nowThen {
	max-width: 100%;
}
#nowThen h3 {
	font-size: 1.5rem;
	padding-top: 4rem;
}

/* footer */

footer {
	clear: both;
	border-top: solid 2px rgb(194, 201, 204);
	display: flex;
	justify-content: space-between;
}
footer p {
	padding: 1.5rem 0 0 1.5rem;
}
footer ul {
	padding: 0 1.5rem 0 0;
}


