/* stylesheet for Colmar */

/* 	light color  								rgb(242, 251, 255);
		background/mid color 				rgb(178, 255, 241);
		dark color           				rgb(194, 201, 204);
		border for anchors					rgb(207, 223, 255);
		main font color/background  rgb(72, 74, 84);
		Read More - light blue			rgb(72, 161, 255);
		
*/


* {
	margin: 0;
	padding: 0;
	/*border: 1px blue solid;*/
}
html {
	font-size: 16px;
}
body {
	background-color: rgb(235, 233, 239);
	color: rgb(72, 74, 84);
}
.readMore {
	color: rgb(72, 161, 255);
}
.bigBox {
	width: 74rem;
	margin: 5rem auto;
}
/* header section */

header {
	background-color: rgb(242, 251, 255);
	display: flex;
	justify-content: space-between;
	height: 4rem;
}
#logo img {
	display: inline;
	height: 3.5rem;
	padding-left: 1.5rem;
	padding-top: .25rem;
	float: left;
}
#logo h1 {
	font-size: 1.5rem;
}
#front {
	color: rgb(72, 74, 84);
}
#back {
	color: rgb(194, 201, 204);
}
#front, #back {
	display: inline-block;
	padding-top: 1rem;
}

/* nav */

a {
	text-decoration: none;
	color: rgb(72, 74, 84);
	font-size: 1rem;
	padding: .0675rem;
}
li {
	list-style: none;
	display: inline-block;
	padding: 1.475rem 0 1.475rem 0;
}
.border {
	border-right: solid 1rem rgb(51, 153, 172);
}
ul {
	padding-right: 2rem;
}

/* start here */

#startHere {
	background-color: rgb(194, 201, 204);
	height: 33rem;
}
#startHere img {
	width: 60%;
	height: 29rem;
	padding: 2rem 2.5rem 2rem 1.5rem;
	float: left;
}
#startHere h2 {
	padding-top: 9rem;
	font-size: 2rem;
	margin-bottom: 1rem;
}
#startHere p {
	font-size: 1rem;
	margin-bottom: 1rem;
}
#here {
	font-size: 1.5rem;
	color: rgb(242, 251, 255);
	background-color: rgb(72, 74, 84);
	height: 2.5rem;
	width: 16rem;
	line-height: 2.5rem;
	display: inline-block;
	text-align: center;
}

/* keep practicing */

#keepPracticing {
	position: relative;
	width: 100%;
	height: auto;
}
.picBox1 {
	display: inline-block;
	border-right: solid 2px rgb(194, 201, 204);
	width: 65%;
}
.picBox1 img {
	width: 92%;
	padding: 2rem 1.5rem 2rem 1.5rem;
}
.picBox1 h2, p, #jobTitle {
	padding-left: 1.5rem;
}
.picBox1 h2 {
	font-size: 2rem;
	padding-bottom: 1.5rem;
}
.picBox1 p {
	font-size: 1rem;
	padding-bottom: 2rem;
	padding-right: 6rem;
}
.practiceRight {	
	max-width: 35%;
	position: absolute;
	top: 1rem;
	left: 65%;
}
#orientaion {
	float: left;
}
#orientation img {
	float: left;
	width: 9.25rem;	
	padding: 1rem;
}
#orientation h3 {
	padding-top: 2rem;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}
#orientation p {
	line-height: 1.5rem;
}
#campus {
	width: 100%;
	float: left;
	clear: both;
}
#campus img {
	float: left;
	width: 9.25rem;
	padding: 1rem;
}
#campus h3 {
	padding-top: 2rem;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}
#campus p {
	line-height: 1.5rem;
}
#guest {
	float: left;
	background-color: rgb(194, 201, 204);
}
#guest img {
	float: left;
	width: 9.25rem;
	padding: 1rem;
}
#guest h3 {
	padding-top: 2rem;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}
#guest p {
	line-height: 1.5rem;
}

#startLearning {
	clear: both;
}



